<ul>
    <li><a href="/user/listener/<%= user.id %>">User Profile</a></li>
    <li><a href="/frequencies">Frequencies</a></li>
    <li><a href="/user/listener/<%= user.id %>/messages">Messages</a></li>
    <li><a href="/events_list">Events</a></li>
    <li><a>Following List</a></li>
</ul>