<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<div class="fixed-nav-bar">
<div class="navbar">F R E Q U E N C <span style="color:aqua">I </span> E S </div>
    <div class="dropdown">
    <button class="dropbtn"><span style="color:aqua">[Menu Placeholder] </span>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/user/listener/<%= user.id %>/profile">User Profile</a>
      <a href="/frequencies">Frequencies</a>
      <a href="/user/listener/<%= user.id %>/messages">Messages</a>
      <a href="/events_list">Events</a>
      <a>Following</a>
    </div>
  </div> 
</div>