<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<div class="fixed-nav-bar">
<a href="/frequencies"><div class="navbar">F R E Q U E N C <span style="color:aqua">I </span> E S </div></a>
    <div class="dropdown">
    <button class="dropbtn">
      <span style="color:aqua" id="menu"><img id="menu-logo" src="/icon.png" height="60"></span>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/user/listener/<%= user.id %>/profile">Profile</a>
      <a href="/frequencies">Frequencies</a>
      <a href="/user/listener/<%= user.id %>/messages">Messages</a>
      <a href="/events_list">Events</a>
      <a><form action="/log_out" method="POST"><button class="logout" type="submit">Log out</button></form></a>
    </div>
  </div> 
</div>