<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<div class="fixed-nav-bar">
<div class="navbar">F R E Q U E N C <span style="color:aqua">I </span> E S </div>
    <div class="dropdown">
    <button class="dropbtn">
      <span style="color:aqua" id="menu"><img id="menu-logo" src="/icon.png" height="60"></span>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/user/promoter/<%= user.id %>/profile">User Profile</a>
        <a href="/events_list">Events</a>
        <a href="/post_event">Post An Event</a>
        <a><form action="/log_out" method="POST"><button class="logout" type="submit">Log out</button></form></a>
    </div>
  </div> 
</div>
