@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Titillium Web");

body {
  margin: 0;
  background-color: rgb(31, 31, 31);
}

#loginLink {
  color: white;
  text-decoration: none;
}

#loginLink:hover {
  color: aqua;
}

#upload {
    color: white;
    padding-left: 25px;
    text-decoration: none;
  }
  
#upload:hover {
    color: aqua;
  }


#logo {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

#upload-img {
  border-radius: 100px;
  border: 3px solid aqua;
}

#friendList {
  padding-left: 45px;
  padding-right: 70px;
}

.profile-pic-container {
  position: absolute;
  right: 250px;
  top: 150px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
  padding: 1px;
  background-color: rgb(48, 48, 48, 0.2);
  max-width: 550px;
  max-height: 700px;
  word-wrap: break-word;
}

.playlist-container {
  position: absolute;
  right: 300px;
  bottom: 150px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
  padding: 1px;
  background-color: rgb(48, 48, 48, 0.2);
  max-width: 200px;
  max-height: 150px;
  word-wrap: break-word;
}

.profile-pic {
  padding: 80px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 10px;
  word-wrap: break-word;
  max-width: 220px;
}


.preferences-container {
  position: absolute;
  top: 150px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
  padding: 1px;
  left: 50px;
  background-color: rgba(48, 48, 48, 0.2);
  width: 750px;
}

.preferences {
  padding: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.events-container {
  padding-top: 400px;
  padding-left: 30px
}

.friends-container {
  padding-left: 30px;
}


.signup {
  width: 100%;
  height: 100%;
  font-family: "Titillium Web";
  background: rgb(31, 31, 31);
  color: grey;
  background-image: url(../bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}
.fa-eye {
  margin-left: -30px;
  cursor: pointer;
}

#titleL {
  padding-top: 50px;
  font-family: "Raleway";
  padding-left: 70px;
  letter-spacing: 4px;
  font-weight: 400;
  color: rgb(173, 171, 171);
  margin:0px;
}

#create {
  padding-top: 100px;
  padding-left: 70px;
  letter-spacing: 1px;
  color: rgb(173, 171, 171);
}


.card-list{
  list-style: none;
  padding: 50px;
  margin: 0;
  display: flex;
  flex: wrap;
  height: 350px;
}

.card-list > :not(:first-child){
  margin-left: .5rem;
}

.card-list > :not(:last-child){
  margin-right: .5rem;
}

.card-list li{
  flex: 1 1 0;
  display: flex;
  flex: wrap;
}

.card{
  background: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  overflow: hidden;
  transition: ease-in all .1s;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1);
}

.card:hover{
  transform: translateY(-6px);
  box-shadow:
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1),
    0 32px 32px rgba(0,0,0,0.1);
}


.card > *{
  margin-top: 0;
  margin-bottom: 1rem;
}

.card > :not(.card-img-cont){
  margin-right: 1rem;
  margin-left: 1rem;
}

.card-name{
  font-weight: bold;
  font-size: .8rem;
  font-family: Titillium Web;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.card-date{
  font-weight: bold;
  font-size: .8rem;
  font-family: Titillium Web;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0;
}

.card-img-cont{
  order: -1;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  box-sizing: border-box;
  position: relative;
}

.card-img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-price {
  font-size: 14px;
  opacity: .6;
  color:black;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Titillium Web;
}

.login {
  float: left;
  padding-left: 70px;
  width: 450px;
  height: 300px;
}
.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}


#genre  {
  width: 15%;
  height: 35px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
  color: grey;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}


#sign-up-input, #myInput {
  width: 60%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

#location, #artist, #age, #bio {
  width: 40%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

#sign-up-input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}


html, body {
  height: 100%;
}

.button {
  width: 230px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: grey;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2edce5;
  box-shadow: 0px 10px 10px rgba(46, 195, 229, 0.4);
  color: #fff;
}

.update-pref {
  letter-spacing: 2px;
}

.update-button {
  width: 100px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: grey;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.update-button:hover {
  background-color: #2edce5;
  box-shadow: 0px 10px 10px rgba(46, 195, 229, 0.4);
  color: #fff;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
  right: 0;
  min-height: 100px;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: rgba(31,31,31,255);
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
}

.frequencies_page {
  padding-top: 100px;
  background-color: rgba(31,31,31,255);
  color: grey;
  font-family: "Titillium Web";
  padding-left: 20px;
}

.events_list, .l_messages {
  padding-top: 120px;
  background-color: rgba(31,31,31,255);
  color: gray;
  font-family: "Titillium Web";
}

.user_page, .user_page_p, .post_event {
  padding-top: 120px;
  background-color: rgba(31,31,31,255);
  color: grey;
  font-family: "Titillium Web";
  padding-left: 20px;
}

.navbar {
    float: left;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 4px;
    font-family: "Raleway";
    font-weight: 400;
    color: grey;
    padding-top: 35px;
    
}
  
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    padding-top: 30px;
    padding-right: 50px;
  }
  
  .dropdown { 
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .dropbtn {
    background-color: inherit;
    outline: none;
    border: none;
    padding-right: 50px;
    margin-left: 35px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(31,31,31,255);
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 28px;
    letter-spacing: 4px;
    font-family: "Raleway";
    font-weight: 400;
    color: grey;
    text-transform: uppercase;
  }
  
  .dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .logout {
    background: none;
    border: none;
    text-transform: uppercase;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    text-align: inherit;
    padding: inherit;
    font-size: inherit;
  }
  

  .dropdown-content a:hover {
    background-color: aqua;
    color: rgba(31,31,31,255);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .user_message {
    position: relative;
    padding: 10px 20px;
    color: #333;
    background-color: #2edce5;
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px black;
    font-family: Titillium Web;
    font-size: 14px;
  }

  .other_message {
    position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  font-family: Titillium Web;
  font-size: 14px;
  }

  .message-container {
    padding-top: 100px;
    padding-left: 60px;
    max-width: 400px;
  }

  #conversation {
    padding-left: 100px;
    padding-top: 10px;
    letter-spacing: 1px;
    font-family: Titillium Web;
    color: rgb(173, 171, 171);
  }

  .convo-button {
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-left: 125px;
    font-weight: 500;
    color: #000;
    background-color: grey;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .convo-button:hover {
    background-color: #2edce5;
    box-shadow: 0px 10px 10px rgba(46, 195, 229, 0.4);
    color: #fff;
  }

  #message-input{
    width: 380px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
      0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }

  .event-map {
    float: right;
    margin-right: 100px;
    margin-top: 150px;
  }

  .event-id-container {
    position: absolute;
    top: 150px;
    font-family: Titillium Web;
    color: grey;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 10px;
    padding: 1px;
    left: 50px;
    background-color: rgba(48, 48, 48, 0.2);
    width: 750px;
  }
  
  .event-id {
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  #event-status {
    width: 25%;
    height: 35px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    color: grey;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
      0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }


  .listener-card{
    background-color: rgb(48, 48, 48, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(42, 42, 42);
    font-family: Titillium Web;
    margin-top: -200px;
    margin-left: -200px;
    text-decoration: none;
    line-height: 0.5 ;
    color: grey;
    width: 300px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: ease-in all .1s;
    box-shadow: 
      0 1px 1px rgba(0,0,0,0.1),
      0 2px 2px rgba(0,0,0,0.1);
  }
  
  
  .listener-card > *{
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .listener-card > :not(.card-img-cont){
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .listener-card-img-cont{
    order: -1;
    width: 100%;
    height: 50%;
    padding-bottom: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  .listener-card-img{
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  #like {
    position: absolute;
    top: 50%;
    left: 28%;
  }

  #like:hover {
    transform: translateY(-4px);
  }

  #deny {
    position: absolute;
    top: 50.5%;
    left: 62.5%;
  }

  #deny:hover {
    transform: translateY(-4px);
  }

  #filter {
    width: 12%;
    height: 35px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    color: grey;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  }

  #finder {
    padding-top: 100px;
    padding-left: 50px;
  }