<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <a href="/sign_up/listener">Listener Sign up</a>
            <a href="/sign_up/promotor">Promotor Sign up</a>
        </main>
    </body>
</html>