<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <% variable.forEach(function(user) { %>
            <p>Id: <%= user.user_id %></p>
            <p>First Name: <%= user.first_name %></p>
            <p>Last Name: <%= user.last_name %></p>
            <p>Username: <%= user.username %></p>
            <% }); %>
        </main>
    </body>
</html>