<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <p>Messages</p>
            <% info.forEach(function (object) { %>
                <a href="/users/listener/<%= user.id %>/messages/<%= object.id %>"</a>><%= object.name %></a>
            <% }); %>
        </main>
    </body>
</html>