<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <p>Log in</p>
            <form action="/user" method="POST">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="radio" id="listener" value="listener" name="user_type">
                <label for="listener">Listener</label>
                <input type="radio" id="promoter" value="promoter" name="user_type">
                <label for="promoter">Promoter</label>
                <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>