<!DOCTYPE html>
<html>
  <div class="post_event">
  <head>
  </head>
  <body>
    <%- include('../partials/promoter_navbar') %>

<div class="login">
  <h2 id="event-create">CREATE A NEW EVENT</h2><br>
  <form action="/post_event" method="POST">
      <input style="color: aqua" type="text" name="name" placeholder="Event Name" id="myInput">
      <input style="color: aqua" type="text" name="location" placeholder="Location" id="myInput">
      <input style="color: aqua" type="text" name="genre" placeholder="Genre" id="myInput">
      <input style="color: aqua" type="text" name="artist_list" placeholder="Artist List" id="myInput">
      <input style="color: aqua" type="text" name="price" placeholder="Price" id="myInput">
      <input style="color: aqua" type="date" name="date" placeholder="Date" id="myInput">
      <button class="button" type="submit">CREATE EVENT</button>
  </form>
</div>
</html>