<div class="signup">
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      </head>
      <h1 id="titleL"> F R E Q U E N C <span style="color:aqua">I</span> E S</h1>
      <h3 id="create">CREATE AN ACCOUNT</h3>
      <div class="login">
        Already have an account? <span style="color:white"><a id="loginLink" href="/log_in">Sign in</span></a><br><br>
        <form action="/sign_up_p/success" method="POST">
            <input id="sign-up-input" style="color: aqua" type="text" name="first_name" placeholder="First Name" required>
            <input id="sign-up-input" style="color: aqua" type="text" name="last_name" placeholder="Last Name" required>
            <input id="sign-up-input" style="color: aqua" type="text" name="email" placeholder="Email" required>
            <input style="color: aqua" type="password" name="password" placeholder="Password" id="myInput" required>
            <i class="far fa-eye" id="togglePassword" onclick="myFunction()"></i>
            <input id="sign-up-input" style="color: aqua" type="company_name" name="company_name" placeholder="Company Name" required>
            <input id="sign-up-input" style="color: aqua" type="location" name="location" placeholder="Location" required>
            <button class="button" type="submit">CREATE ACCOUNT</button>
        </form>
            <span style="color:white"><a id =loginLink href="/">Go back</span></a>
        </form>
    </div>

    <% if (error != "") { %>
      <p><%= error %></p>
    <% } %>
    
    <img id="logo" src="/icon2.png" height="50">

    <script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
    </div>