<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <p>Sign up</p>
            <form action="/log_in/promoter" method="POST">
                <input type="text" name="first_name" placeholder="First Name">
                <input type="text" name="last_name" placeholder="Last Name">
                <input type="text" name="company_name" placeholder="Company Name">
                <input type="text" name="email" placeholder="Company Email">
                <input type="text" name="location" placeholder="Location">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Submit">
            </form>
            <a href="/log_in">Log in</a>
        </main>
    </body>
</html>