<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="l_messages">
        <%- include('../partials/promoter_navbar') %>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="current-messages">
        <h2 id="event-create">UPLOAD IMAGE</h2><br>

        <form method ='POST' action ='/user/promoter/:id/upload' enctype="multipart/form-data">
            <input type="file" name ="image"><br><br>
            <button class="update-button" type="submit">Upload</button>
        </form>
        </div>
    </body>
</html>
