<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('../partials/listener_navbar') %>

        <br>
        <br>
        <br>
        <br>
        <br>
        
        <h1>Upload Image</h1>

        <form method ='POST' action ='/user/listener/:id/upload' enctype="multipart/form-data">
            <input type="file" name ="image">
            <input type="submit">
        </form>
        
    </body>
</html>
