<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <p>Promoter</p>
            <p><%= user.company_name %></p>
            <p><%= user.first_name %> <%= user.last_name %></p>
        </main>
    </body>
</html>