<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
            <%- include('../partials/listener_navbar') %>
            <p>Listener</p>
            <p><%= user.first_name %> <%= user.last_name %></p>
        </main>

        <form action="/user/listener/profile/success" method="POST">
            <label for="genre">Choose a genre:</label>
            <select name="genre" id="genre">
              <option value="rock">Rock</option>
              <option value="dnb">DnB</option>
              <option value="pop">Pop</option>
              <option value="techno">Techno</option>
              <option value="house">House</option>
            </select>
            <br><br>
            <input type="text" name="age" id="age" placeholder="Age">
            <br><br>
            <input type="text" name="location" id="location" placeholder="Location">
            <br><br>
            <input type="text" name="artist" id="artist" placeholder="Favourite Artist">
            <br><br>
            <input type="text" name="bio" id="bio" placeholder="Bio">
            <br><br>
            <input type="submit" value="Update">
          </form>
    </body>
</html>